{% extends "base.html" %}

{% block title %}Taiwan Tech Job{% endblock %}

{% block content %}
  <style>
        .search-box, .results-box {
            padding: 20px; /* Padding for search and results boxes */
        }
        .result-item {
            background-color: #454d55; /* Darker background for result items */
            padding: 15px; /* Increased padding for better spacing */
            margin-bottom: 15px; /* Increased margin for better separation */
            border-radius: 8px; /* Rounded corners for result items */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
        }
        .result-item a {
            color: #9bc3ff; /* Light blue color for links */
            text-decoration: none; /* No underline for links */
        }
        .result-item a:hover {
            text-decoration: underline; /* Underline on hover for links */
        }
    </style>
  <div class="container mt-4">
<!--         Search box section-->
{% include 'search_box.html' %}

      </div>
      {% include 'job_slider3.html' %}
{% endblock %}

