<div class="container mt-4">
<!--         Search box section-->
      <div class="row justify-content-center">
            <div class="col-md-8 search-box">
                  <h1>搜尋關鍵字</h1>
                <form action="/result" method="GET">
                    <div class="mb-3">
                        <input type="text" name="query" class="form-control" placeholder="輸入關鍵字">
                    </div>

                <!-- Salary Constraint Input -->
                <div class="mb-3">
<!--                    <input type="number" class="form-control" placeholder="最低年薪(萬元)以上">-->
                        <label for="salary">年薪(萬元)上限:</label>
                        <select name="upper_bound_salary" class="form-control" id="salary">
                            {% for i in range(100, 200, 10) %}
                                <option value="{{ i }}" {% if i == 100 %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>

                    <label for="salary">最低年薪(萬元)以上:</label>
                        <select name="salary" class="form-control" id="salary">
                            {% for i in range(60, 200, 10) %}
                                <option value="{{ i }}" {% if i == 60 %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                </div>

                <!-- {% include 'checkbox.html' %} -->

                    <button type="submit" class="btn btn-primary">搜尋</button>
                </form>
            </div>
        </div>
    </div>

<style>
    .form-check {
    display: inline-block;
    margin-right: 20px; /* Add margin to create space between checkboxes */
}
</style>